.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 700px;
    margin: 0 auto;
}
.img-container{
    position: relative;
    display: flex;
    width: 700px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.img{
    position: absolute;
    width: 700px;
    height: 500px;
    background: url('./assets/0.png') white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    left: 0;
}
.img:nth-child(1){
    z-index: 1;
}
.next{
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    left: -100%!important;
}
.prev{
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    left: 100%!important;
}
.control-container{
    display: flex;
    gap: 10px;
}
.control-body{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    background-color: black;
    border-radius: 120px;
    width: 15px;
    height: 15px;
    transition: all ease-in-out 0.2s;
    border: unset;
}
.control:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.active{
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 1);
    width: 11px;
    height: 11px;
}
.text-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.text{
    font-size: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    left: 0%;
}
@media (max-width: 768px) {
    .slider{
        width: 100%
    }
    .img,.img-container{
        width: 100%;
        height: calc(200px + 39vw);
    }
}